<%= form_for(@sistema) do |f| %>
  <% if @sistema.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sistema.errors.count, "error") %> prohibited this sistema from being saved:</h2>

      <ul>
      <% @sistema.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :linguagem %><br />
    <%= f.collection_select :sistema_id, Linguagem.all, :id, :nome %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
