<h1>Listing sistemas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sistemas.each do |sistema| %>
  <tr>
    <td><%= sistema.nome %></td>
    <td><%= sistema.linguagem.nome unless sistema.linguagem.nil? %></td>

    <td><%= link_to 'Show', sistema %></td>
    <td><%= link_to 'Edit', edit_sistema_path(sistema) %></td>
    <td><%= link_to 'Destroy', sistema, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sistema', new_sistema_path %>
